        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
       
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Reportes"></span></a>
            <ul>
                
                <li><a href="#/pages/profile"><i class="fa fa-caret-right"></i><span data-i18n="Perfil Usuario"></span></a></li>
                <li><a href="#/pages/contact"><i class="fa fa-caret-right"></i><span data-i18n="Contacto"></span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i><span data-i18n="Reportes"></span></a></li>
            </ul>
        </li>
        
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="Censo"></span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="Llenar Censo"></span> <span class="badge badge-warning">New</span></a></li>
                
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Graficas"></span></a>
            <ul>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>Pay <span data-i18n="Graficas"></span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>Linea <span data-i18n="Graficas"></span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>Otras <span data-i18n="Graficas"></span></a></li>
            </ul>
        </li>
        
        
        
    </ul>
</div>