        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
       
        
        
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="Censo"></span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="Llenar Censo"></span> <span class="badge badge-warning">New</span></a></li>
                
            </ul>
        </li>
       
        
        
        
    </ul>
</div>